/* CSS styles for the navigation bar */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#navbar {
  background-color: #F3F6F3;
  overflow: hidden;
  
}
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px 20px 30px 40px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
  background-color: #30C7B5;
  font-weight: bold;
  
}
#navbar a.active {
  background-color: #4CAF50;
  color: white;
  
}
/* CSS styles for the content area */
#content {
  padding: 20px;
}
